<% layout( 'layout' ) -%>
    <script type="text/javascript" src="js/ejs_production.js"></script>
    <script src="js/socket.io-1.2.0.js"></script>
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/Login/facebook_login.js"></script>
<h1>welcome</h1>
<fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();"></fb:login-button>
<div id="status"></div>
<ul id="messages"></ul>

<form class="form-inline" >
  <div class="form-group">
    <label for="user">User Name</label>
    <input type="text" class="form-control" autocomplete="off" id="user" placeholder="Hellen">
  </div>
  <div class="form-group">
    <label for="m">Message</label>
    <input type="text" autocomplete="off" class="form-control" id="m" placeholder="key some word">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  function testAPI() {
  var socket = io();
  FB.api('/me', function(response) {
  $('form').submit(function(){
    socket.emit('chat message',response.name+' : '+$('#m').val());
    $('#m').val('');
    return false;
  });})
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
    FB.api('/me', function(response) {
    console.log(JSON.stringify(response));
    });
  }
</script>