<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">    
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form {position:fixed;bottom: 10px;width: 100%;}
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
 
  <body>
    <h1>welcome</h1>
    <ul id="messages"></ul>
    
    <form class="form-inline" >
      <div class="form-group">
        <label for="user">User Name</label>
        <input type="text" class="form-control" autocomplete="off" id="user" placeholder="Hellen">
      </div>
      <div class="form-group">
        <label for="m">Message</label>
        <input type="text" autocomplete="off" class="form-control" id="m" placeholder="key some word">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#user').val()+' : '+$('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    </script>
  </body>
</html>
